@import "../../base/utils";

.dropdownComponent {
  margin-bottom: 1.5rem;

  @include tablet {
    margin-bottom: 2.5rem;
  }

  & > * {
    border-radius: $radiusSmall;
    @include tablet {
      border-radius: $radius;
    }
  }

  button {
    color: white;
    background-color: $color;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem 0 1rem;
    height: 2rem;
    z-index: 2;
    position: relative;
    font-size: 0.8125rem;
    cursor: pointer;

    @include tablet {
      height: 3rem;
      padding: 0 1rem 0 1.5rem;
      font-size: 1.125rem;
    }
  }

  img {
    transition: transform 0.2s ease-in-out;

    &.rotated {
      transform: rotate(-180deg);
    }

    @include tablet {
      width: 1.5rem;
    }
  }

  div {
    overflow: hidden;
    background-color: $grey;
    padding: 0 1rem;
    margin: -1px;
    height: 0;
    transition: height 0.1s ease-out, margin 0.2s ease-out,
      padding 0.2s ease-out, opacity 0.2s ease-out;

    @include tablet {
      padding: 0 1.5rem;
    }

    &.visible {
      margin-top: -1rem;
      height: min-content;
      padding: 2rem 1rem 1.5rem;

      @include tablet {
        padding: 2.5rem 1.5rem 1.5rem;
        height: calc(100% - 6rem);
      }
    }

    p {
      color: $color;
      margin: 0;
      line-height: 1.1rem;
      font-size: 0.75rem;

      @include tablet {
        line-height: 1.5rem;
        font-size: 1.125rem;
      }
    }
  }
}