.tagComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 12px 3px;
  min-width: 4rem;
  border-radius: $radiusSmall;
  background-color: $color;
  color: white;
  font-size: 0.625rem;
  font-weight: 500;
  margin-right: 10px;
  margin-bottom: 5px;


  @include tablet {
    font-size: 0.875rem;
    padding: 8px 25px 5px;
    min-width: 5rem;
    border-radius: $radius;
  }
}
