@import "../../base/utils";

main.homePage {
  width: 90vw;
  margin: 0 auto 1rem;
  max-width: 1240px;

  @include tablet {
    margin: 0 auto 2rem;
  }

  div.banner {
    width: 100%;
    height: 6.8rem;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../../assets/banner_coast.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $radius;
    align-items: center;
    margin-bottom: 1rem;
    
    @include tablet {
      height: 13rem;
      border-radius: $radiusLarge;
      justify-content: center;
      margin-bottom: 3rem;

    }

    h1 {
      color: white;
      font-weight: 500;
      font-size: 1.5rem;
      padding-left: 1rem;

      @include tablet {
        font-size: 3rem;
      }
      span.linebreak::before {
        content: "\A";
        white-space: pre;
        @include tablet {
          content: "";
          white-space: normal;
        }
      }
    }
  }

  div.gallery {
    width: 100%;
    border-radius: $radius;
    display: grid;
    row-gap: 1rem;
    
    @include tablet {
      background-color: $grey;
      padding: 3rem;
      width: calc(100% - 6rem);
      border-radius: $radiusLarge;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 3rem;
      justify-content: space-between;
    }

  }
}
