@import "../../base/utils";

header.headerComponent {
  width: 90vw;
  max-width: 1240px;
  margin: 0 auto;

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    color: $color;
    margin: 1.5rem 0 1rem;
    
    @include tablet {
      height: 6rem;
      margin: 2rem 0 3rem;
    }

    div {
      margin-left: 1rem;
      display: flex;
      gap: 1rem;
      align-items: center;

      @include tablet {
        gap: 4rem;
      }
    }

    img {
      width: 145px;
      @include tablet {
        width: initial;
      }
    }
  }

  .navLink {
    color: $color;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    text-align: center;

    @include tablet {
      font-size: 1.5rem;
      text-transform: none;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}
