@import "../../base/utils";

.carouselComponent {
  height: 16rem;
  display: grid;
  grid-template-areas:
    "prev img next"
    "prev step next";
    grid-template-rows: 1fr auto;
  
  @include tablet {
    height: 26rem;
  }

  img.carousel {
    height: 100%;
    max-height: 26rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
    grid-column-start: prev;
    grid-column-end: next;
    grid-row-start: img;
    grid-row-end: step;
    border-radius: $radius;

    @include tablet {
      border-radius: $radiusLarge;
    }
  }

  p {
    grid-area: step;
    justify-self: center;
    // color: transparent;
    display: none;
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 2rem;

    @include tablet {
      display: block;
      color: white;
    }
  }

  button {
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

    img {
      cursor: pointer;
      @include tablet {
        width: 4rem;
      }
    }
  }

  .previous {
    grid-area: prev;
    transform: rotate(90deg);
  }
  
  .next {
    grid-area: next;
    transform: rotate(-90deg);
    justify-self: flex-end;
  }
}
