:root {
  --color: #ff6060;
  --grey: #f6f6f6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navLink {
  color: var(--color);
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  /* @media (min-width: 768px) {
    font-size: 1.5rem;
    text-transform: none;
  } */
}
.navLink:hover,
.navLink:active {
  text-decoration: underline;
}

main {
  width: 90vw;
  max-width: 1240px;
}
