@import "../base/utils";

body {
  margin: 0;
  scroll-behavior: smooth;

  * {
    font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

main {
  width: 90vw;
  max-width: 1240px;
  min-height: calc(100vh - 5.5rem);

  @include tablet {
    min-height: calc(100vh - 11rem);
  }
}

button {
  border: none;
}
