@import "../utils";

body * {
  margin: 0;
  font-family: "Montserrat", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
}

.navLink {
  color: $color;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  @include tablet {
    font-size: 1.5rem;
    text-transform: none;
  }

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

main {
  width: 90vw;
  max-width: 1240px;
}
