section.errorPage {
  height: calc(100vh - 5.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include tablet {
    height: calc(100vh - 11rem);
  }

  * {
    font-weight: 500;
    color: $color;
    text-align: center;
  }

  h1 {
    font-size: 6rem;
    font-weight: 700;
    margin: 0 auto 1rem;
    @include tablet {
      font-size: 12rem;
    }
  }

  p {
    font-size: 1.125rem;
    margin: 0 auto 10rem;

    @include tablet {
      font-size: 2.25rem;
    }
  }

  .link {
    font-size: 0.875rem;

    @include tablet {
      font-size: 1.125rem;
    }
  }
}
